###########################################################################
##	PROJECT-SPECIFIC
###########################################################################
# Do NOT ignore sources
!*.c
!*.h
!*.elf
!*.bmm
!*.v
!**/Makefile
# Ignore all swap files
*.swp
*.swo
# Ignore all `builds` softlinks
**/builds

###########################################################################
##	PYTHON OBJECTS
###########################################################################

__pycache__/

###########################################################################
##	TAPA OBJECTS
###########################################################################

*.xo.tapa
*.xo
*hw_generate_bitstream.sh

###########################################################################
##	VIVADO OBJECTS
###########################################################################

# output directories
vitis_run_hw/
vitis_run_hw_emu/

# Log files:
*.jou
*.log

# Output artefacts
*.xclbin*
*.dcp
*.prj
*.xpr
**/.ipcache
**/.Xil
*xsim.dir

# Do NOT ignore VHDL, Verilog, block diagrams or EDIF files.
!*.vhd
!*.v
!*.bd
!*.edif

# Do NOT ignore simulator configurations
!*.wcfg
!*.coe

# Do NOT ignore mem files
!*.mem

# Do NOT ignore Constraint files
!*.xdc

